{% extends "layout.html" %}

{% block title %}
Buy
{% endblock %}

{% block main %}
<h1>Buy Shares</h1>
<form action="/buy" method="post">
    <div class="form-group">
        <label for="symbol">Symbol:</label>
        <input type="text" name="symbol" id="symbol" class="form-control" placeholder="Enter stock symbol" required>
    </div>
    <div class="form-group">
        <label for="shares">Shares:</label>
        <input type="number" name="shares" id="shares" class="form-control" placeholder="Enter number of shares" min="1"
            required>
    </div>
    <button type="submit" class="btn btn-primary">Buy</button>
</form>
{% endblock %}
